.main__header{
    width: 100vw;
    display: grid;
    place-items: center;
    height: calc(100dvh - 3rem);
    margin-top: 3rem;
    padding-top: 2.5rem;
}

.main__header-container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items:center;
    justify-content: space-between;
}

.main__header-left{
    margin-top: -3rem;
}

.main__header-left h4{
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-weight:bold;
}

.main__header-left p{
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
}

.main__header-right{
    display: grid;
    place-items: center;
    position: relative;
}

.main__header-circle{
    width: 25rem;
    height: 25rem;
    background: linear-gradient(75deg, var(--color-secondary), transparent);
    border-radius: 50%;
    position: absolute;
    filter: blur(15px);
}
.main__header-img{
    position: relative;
}

/* *****************************PROGRAMS*************** */
.programs{
    margin-top: 4rem;
}
.programs__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:3rem;
    margin-top: 4rem;
}
.programs__program a{
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
}
.programs__program:hover a{
    background-color:var(--color-secondary) ;
    color: var(--color-gray-600);
}

/* *******************VALUES************************* */
.values{
    margin-top: 6rem;
}
.values__container{
    display: grid;
    grid-template-columns: 38% 50%;
    gap: 12%;
    align-items: center;
}

.values-image{
    filter:saturate(.25) ;
    transition:var(--transition);
}
.values-image:hover{
   filter: saturate(1);
}

.values__right{
    margin: 1.5rem 0 5rem;
}
.values__right p{
    margin-bottom: 4rem;
}
.values__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.4rem 2.4rem;
}

.card.values__values{
    padding-top: 3rem;
    text-align: left;
    position: relative;
    border-radius: 10px;
}

.card.values__values span{
    position: absolute;
    top: -1.5rem;
}




/* *******************FAQS************************* */
.faqs__wrapper{
   margin-top: 4rem;
   display: grid;
   grid-template-columns: 1fr 1fr ;
   gap: 1.5rem 5rem;
   align-items: flex-start;
}

.faq{
    cursor: pointer;
    background-color: var(--color-MidnightBlue-500);
    border-radius: 1rem;
    padding: 2rem;
}

.faq div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq__icon{
    background-color: transparent;
    color: var(--color-white-100);
    font-size: 1.5rem;
}

.faq p{
    margin-top: 1.5rem;
}

/* *******************TESTIMONIALS************************* */

.testimonials{
    max-width: 90rem;
    margin-inline: auto;
}

.testimonials__head{
    margin-bottom: 4rem;
}

.card.testimonials{
    position: relative;
    text-align: left;
    margin-top: 5rem;
}

.testimonial__avatar img{
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
    position: absolute;
    top: -2rem;
    left: calc(50% - 2rem);
    overflow: hidden;
    box-shadow: 0 1.5rem 2rem rgba(26, 26, 54, .4);
    transition: var(--transition);
}

.card.testimonials:hover img{
    border-radius: 50%;   
}

.testimonial__quote{
    font-style: italic;
    margin:1rem 0 2rem;
}

.card small{
    margin: .3rem;
}

.testimonials__btn-container{
    margin: 2.5rem auto  0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
.testimonials__btn{
    background: transparent;
    color: var(--color-white-100);
    font-size: 2rem;
}

/* *******************FOOTER************************* */

footer{
    background: var(--color-primary);
    margin-top: 7rem;
    padding-top: 1rem;
    font-size: .9rem;
    color: var(--color-white-100);
    min-height: 70px;
}


.footer__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between; 
    align-items: center;
    gap: 8rem;  
    padding-bottom: 2rem;
}
.footer__container article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .7rem;
}



.footer__container article h4{
    font-size: 1rem;
    margin-bottom: .6rem;
    font-weight: bolder;
}

.footer__socials{
    margin-top: 4.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footer__socials a{
    background: var(--color-white-100);
    padding: .7rem;
    border: 1px solid transparent;
    border-radius: .6rem;
    transition: var(--transition);
}

.footer__socials a svg{
    color: black;
}

.footer__socials a:hover{
    border-color: var(--color-white-100);
    background: transparent;
    
}

.footer__copyright{
    text-align: center;
    background-color: rgb(1, 4, 14);
}

.heart{
    color: red;
    font-size: 1.2rem;
}




/* *******************MEDIA QUERIES************************* */
/* MAIN HEADER (index) */
@media (max-width:1024px) {
    .main__header{
        height: fit-content;
        padding-top: 2.5rem;
        padding-bottom: 2rem;
    }
    .main__header-container{
        gap: 0;
    }

    .main__header-circle{
        width: 16rem;
        height: 16rem;
    }
    /* PROGRAMS */
    .programs__wrapper{
    grid-template-columns: 1fr 1fr;
    gap: 1.4rem;
    }

    /* VALUES */
    .values__container{
        grid-template-columns: 1fr;
    }
    .values__left{
        order: 2;
        margin-top: -15rem;
    }
    .values__left img{
        width: 70%;
        margin: 2rem auto 8rem;
    }
    .values__wrapper{
        gap: 2rem 1rem ;
    }

    /* FAQs */
    .faqs__wrapper{
        gap: 1rem;
       
    }

    /* FOOTER */
    
    .footer__container{
        grid-template-columns: 1fr 1fr;
        place-items: center;

    }
}
    @media (max-width:768px) {
        *{
            text-align: center;
        }
        /* MAINHEADER */
        .main__header{
           margin-top: 0;
           padding: 12rem 0 0;
           height: 100vh;
           text-align: center;
        }
        .main__header-img, .main__header-circle{
            display: none;
        }
        .main__header-container{
            grid-template-columns: 1fr;
        }

        /* PROGRAMS */
        .programs__wrapper{
            grid-template-columns: 1fr;
            gap: 2rem;
            margin-top: 3rem;   
        }
       
        .programs__program{
            width: 84%;
            margin: auto;
        }
        .programs__wrapper .card{
            width: 95%;

        }

        /* VALUES */
        .values__right .section__head{
            margin-bottom: 2.5rem;
        }
        .values__right .section__head span{
            font-size: 1.6rem;
         }

         .values__left img{
            border-radius: 10px;
            border: 1px solid #000;
            padding: 20px;
            margin: 2rem auto 3rem;
         }

         /* FAQs */
         
         .faqs{
            margin-bottom: -4rem;
         }
         .faqs__wrapper{
            grid-template-columns: 1fr;
         }
         .faqs__wrapper h4{
            font-size: 14px;
         }
         .faqs__wrapper p{
            font-size:12px ;
         }
         .faqs__wrapper article{
            width: 98%;
            margin: auto;
         }
         /* TESTIMONIALS */
         
         

    @media (max-width:600px) {
        /* VALUES */
       
        .values{
            margin-bottom: 1rem;
        }
        .values__wrapper{
            grid-template-columns: 1fr;
        }
        .card.values__values{
            width: 84%;
            margin-inline: auto;
         }
         .values__left img{
            display: none;
         }

         /* FAQs */
         .faqs{
            margin-top: -10px;
         }
        
         .faqs__wrapper{
            width: 84%;
            margin-inline: auto;
         }

         /* FOOTER */
         .footer__container{
            grid-template-columns: 1fr;
            gap: 3rem;
         }
         .footer__container article{
            align-items: center;
         }
         .footer__container article p{
            text-align: center;
         }
    }
}


