.main__header{
    width: 100vw;
    display: grid;
    place-items: center;
    height: calc(100dvh - 3rem);
    margin-top: 3rem
}

.main__header-container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items:center;
    justify-content: space-between;
}

.main__header-left{
    margin-top: -3rem;
}

.main__header-left h4{
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-weight:bold;
}

.main__header-left p{
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
}

.main__header-right{
    display: grid;
    place-items: center;
    position: relative;
}

.main__header-circle{
    width: 25rem;
    height: 25rem;
    background: linear-gradient(75deg, var(--color-secondary), transparent);
    border-radius: 50%;
    position: absolute;
    filter: blur(15px);
}
.main__header-img{
    position: relative;
}

/* *****************************PROGRAMS*************** */
.programs{
    margin-top: 4rem;
}
.programs__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:3rem;
    margin-top: 4rem;
}
.programs__program a{
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
}
.programs__program:hover a{
    background-color:var(--color-secondary) ;
    color: var(--color-gray-600);
}

/* *******************VALUES************************* */
.values{
    margin-top: 6rem;
}
.values__container{
    display: grid;
    grid-template-columns: 38% 50%;
    gap: 12%;
    align-items: center;
}

.values-image{
    filter:saturate(.25) ;
    transition:var(--transition);
}
.values-image:hover{
   filter: saturate(1);
}

.values__right{
    margin: 1.5rem 0 5rem;
}
.values__right p{
    margin-bottom: 4rem;
}
.values__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.4rem 2.4rem;
}

.card.values__values{
    padding-top: 3rem;
    text-align: left;
    position: relative;
    border-radius: 10px;
}

.card.values__values span{
    position: absolute;
    top: -1.5rem;
}




/* *******************FAQS************************* */
.faqs__wrapper{
   margin-top: 4rem;
   display: grid;
   grid-template-columns: 1fr 1fr ;
   gap: 1.5rem 5rem;
   align-items: flex-start;
}

.faq{
    cursor: pointer;
    background-color: var(--color-MidnightBlue-500);
    border-radius: 1rem;
    padding: 2rem;
}

.faq div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq__icon{
    background-color: transparent;
    color: var(--color-white-100);
    font-size: 1.5rem;
}

.faq p{
    margin-top: 1.5rem;
}